head {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.name {
    color: black;
    text-shadow: 1px 1px rgb(77, 75, 75);
    font-size: 72px;
    text-align: center;
    padding-top: 36px;
}

.navbar {
    margin: auto;
    text-decoration: none;
    border-top: 3px solid #555;
    text-align: center;
    border-bottom: 3px solid #555;
    font-size: 18px;
    padding: 16px;
    width   : 800px;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 16px;
}
.expbar {
    margin: auto;
    font-size: 18px;
    padding: 16px;
    border-bottom: 3px solid #555;
    width   : 800px;
    text-align: center;
}
.expbar a{
    text-decoration: none;
    color: black;
    padding: 16px;
}
.navbar a:hover{
    color: grey;
}
.expbar a:hover{
    color: grey;
}

.experiencetitle {
    font-size: 36px;
    margin: auto;
    text-align: center;
    padding-top: 16px;
}
h1{
    font-size: 24px;
    text-align: center;
}
h2{
    font-size: 16px;
    font-style: italic;
    text-align: center;
}
ul{
    font-size: 16px;
    text-align: left;
}
.workexperience{
    width: 33%;
    float: left;
    height: 400px;
}
.wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}
.pictureshome{
    width: 33%;
    float: left;
    height: 400px;
}
.aboutme{
    width: 55%;
    margin-left: 32px;
    float: left;
    margin-top:32px;
}
.picturesabout{
    width:40%;
    float:right;
    margin-top:32px;
}
.bodyhome{
    text-align: center;
    padding-top: 36px;
    width: 800px;
    align-items: center;
    margin: auto;
}
/*contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #777777;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  
  input[type=submit]:hover {
    background-color: #353535;
  }
img{
    max-width: 100%;
}


/*phone and tablet versions*/
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }